body {
  padding-top: 5rem;
}
.center-div,.center-text {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center-div-span-underline{
	text-decoration: underline;
	color: rgba(115,105,235,0.9);
}


.main-image{
	width: 200px;
	height: 250px;
	border-radius: 5%;
}